<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultLeange</key>
	<string></string>
	<key>mergeConsecutiveIdenticalGestures</key>
	<false/>
	<key>showIconInStatusBar</key>
	<true/>
	<key>defaultLineColor</key>
	<string>#0000ff</string>
	<key>defaultNoteColor</key>
	<string>#000000</string>
	<key>showUIInWhateverApp</key>
	<false/>
	<key>showGestureNote</key>
	<true/>
	<key>minScore</key>
	<integer>85</integer>
	<key>noteFontSize</key>
	<integer>88</integer>
	<key>noteFontName</key>
	<string>Monaco</string>
	<key>openPrefOnStartup</key>
	<true/>
	<key>enableGestureMinScore</key>
	<true/>
	<key>noteRetetionTime</key>
	<string>0.1</string>
	<key>noteBackgroundAlpha</key>
	<string>0.1</string>
	<key>newFile</key>
	<true/>
	<key>openInTerminal</key>
	<true/>
	<key>copyFilePath</key>
	<true/>
	<key>enableRightClickMenu</key>
	<true/>
	<key>useIterm</key>
	<false/>
	<key>useTerminal</key>
	<true/>
	<key>enableHistoryClipboard</key>
	<true/>
	<key>clipoardStroageLocal</key>
	<true/>
	<key>clipoardStroageRam</key>
	<false/>
	<key>historyClipoardList</key>
	<integer>100</integer>
	<key>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;data&gt;YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwZGhscHR5VJG51bGzWDQ4PEBESExQVFhcYXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJzSWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2ZXJzaW9ugASABoAHgAWAA4ACUTEQCRIAGAAAYSIaUXbSHyAhIlokY2xhc3NuYW1lWCRjbGFzc2VzWlNSU2hvcnRjdXSiISNYTlNPYmplY3QACAARABoAJAApADIANwBJAEwAUQBTAFwAYgBvAH0AmwCiAK0AtQC9AL8AwQDDAMUAxwDJAMsAzQDSANUA1wDcAOcA8AD7AP4AAAAAAAACAQAAAAAAAAAkAAAAAAAAAAAAAAAAAAABBw==&lt;/data&gt;
&lt;/plist&gt;
</key>
	<string></string>
	<key>historyCilpboardListShortcut</key>
	<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwZGhscHR5VJG51bGzWDQ4PEBESExQVFhcYXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJzSWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2ZXJzaW9ugASABoAHgAWAA4ACUTEQCRIAGAAAYSIaUXbSHyAhIlokY2xhc3NuYW1lWCRjbGFzc2VzWlNSU2hvcnRjdXSiISNYTlNPYmplY3QACAARABoAJAApADIANwBJAEwAUQBTAFwAYgBvAH0AmwCiAK0AtQC9AL8AwQDDAMUAxwDJAMsAzQDSANUA1wDcAOcA8AD7AP4AAAAAAAACAQAAAAAAAAAkAAAAAAAAAAAAAAAAAAABBw==</data>
</dict>
</plist>
